/* --- Block: section --- */
.section {
    padding: 60px 15px;
}

/* Modifier: 背景色が違うバージョン */
.section--secondary {
    background-color: #f7e9d5;
    padding-bottom: 100px;
}

.section__inner {
    max-width: 1000px; /* 中身が広がりすぎないように */
    margin: 0 auto;
}

.section__title {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    padding: 20px 0 40px 0;
    color: #dd9fc8;
    margin: 0;
}