/* --- Block: section --- */
.section {
    padding-block: 60px;
    padding-inline: 15px;
}

/* Modifier: 背景色が違うバージョン */
.section--secondary {
    background-color: var(--color-secondary); /* 元の #f7e9d5 */
    padding-block-end: 100px;
}

.section__inner {
    max-width: 1000px; /* 中身が広がりすぎないように */
   margin-inline: auto;
}

.section__title {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    padding: 20px 0 40px 0;
    color: var(--color-primary); /* 元の #dd9fc8 */
    margin: 0;
}