/* --- Block: about-card --- */
.about-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    height: 200px;
    border-radius: 15px;

    border: 4px dotted var(--color-primary); /* 元の #dd9fc8 */
    background-color: #fff; /* もし少し白く浮かせたいなら白でもOK */
}

.about-card__title {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

.about-card__list {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.about-card__item {
    color: var(--color-primary); /* 元のピンク */
    font-size: 17px;
}