/* style.css */

/* Foundation */
@import "foundation/_base.css";
@import "foundation/sanitize.css";

/* Layout */
@import "layout/_header.css";

/* Object - Component (部品) */
@import "object/component/_card.css";

/* Object - Project (特定の塊) */
@import "object/project/_hero.css";
@import "object/project/_section.css";
@import "object/project/_about.css";
@import "object/project/_dog-table.css";








