/* style.css */

/* Foundation */
@import "foundation/_base.css";
@import "foundation/sanitize.css";
@import "foundation/_variables.css";

/* Layout */
@import "layout/_header.css";
@import "layout/_footer.css";

/* Object - Component (部品) */
@import "object/component/_card.css";

/* Object - Project (特定の塊) */
@import "object/project/_hero.css";
@import "object/project/_section.css";
@import "object/project/_about.css";
@import "object/project/_dog-table.css";
@import "object/project/_works.css";
@import "object/utility/_animation.css";
@import "object/utility/_skeleton.css";
@import "object/project/_contact.css"








