/* --- Base --- */
body {
    
    font-family: "Noto Sans JP", "Helvetica Neue", "Helvetica", "Hiragino Sans", "Arial", "Yu Gothic", "Meiryo", sans-serif;
    font-size: 15px;
    line-height: 1.5;
    
    margin: 0;

    background-color: var(--color-bg); /* 元の rgb(255, 245, 253) */
    color: var(--color-text); /* 元の #6c6c6c */
}
