/* --- Block: header --- */
.header {
    padding: 20px;
}

.header__menu {
    display: flex;
    list-style: none;
    gap: 20px;
    justify-content: flex-end; /* 右寄せ */
    margin: 0;
    padding: 0;
}

/* layout/_header.css */

.header__menu-item {
    cursor: pointer; /* マウスを乗せた時に指のマークにする */
    transition: all 0.3s; /* 色の変化を0.3秒かけてふわっとさせる */
}

.header__menu-item:hover {
    color: var(--color-success); /* マウスが乗った時にミント色にする */
    transform: translateY(-3px);
}

