/* --- Block: header --- */
.header {
    padding: 20px;

    position: sticky;
    top: 0;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    z-index: 100;
    box-shadow: 0 2px 5px rgba(48, 38, 47, 0.1);
}

.header__menu {
    display: flex;
    list-style: none;
    gap: 20px;
    justify-content: flex-end; /* 右寄せ */
    margin: 0;
    padding: 0;
}

/* layout/_header.css */

.header__menu-item {
    cursor: pointer; /* マウスを乗せた時に指のマークにする */
    transition: all 0.3s; /* 色の変化を0.3秒かけてふわっとさせる */
}

.header__menu-item:hover {
    color: var(--color-success); /* マウスが乗った時にミント色にする */
    transform: translateY(-3px);
}



